[submodule "RTLib/thirdparty/tinyobjloader"]
	path = RTLib/thirdparty/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "RTLib/thirdparty/ufbx"]
	path = RTLib/thirdparty/ufbx
	url = https://github.com/bqqbarbhg/ufbx
