/.vscode
/build
/Data
/Result/*
!/Result/test.sh
!/Result/test2.sh
!/Result/test3.sh
!/Result/test4.sh
!/Result/Fix
/Result/Fix/*
!/Result/Fix/Scene1
/Result/Fix/Scene1/*
!/Result/Fix/Scene1/Depth=4
/Result/Fix/Scene1/Depth=4/*
!/Result/Fix/Scene1/Depth=4/Analyze.ipynb
!/Result/Fix/Scene4
/Result/Fix/Scene4/*
!/Result/Fix/Scene4/Depth=4
/Result/Fix/Scene4/Depth=4/*
!/Result/Fix/Scene4/Depth=4/Analyze.ipynb

/Result_Archeive/*
!/Result_Archeive/test.sh
!/Result_Archeive/test2.sh
!/Result_Archeive/test3.sh
!/Result_Archeive/test4.sh
!/Result_Archeive/Fix
/Result_Archeive/Fix/*
!/Result_Archeive/Fix/Scene1
/Result_Archeive/Fix/Scene1/*
!/Result_Archeive/Fix/Scene1/Depth=4
/Result_Archeive/Fix/Scene1/Depth=4/*
!/Result_Archeive/Fix/Scene1/Depth=4/Analyze.ipynb
!/Result_Archeive/Fix/Scene4
/Result_Archeive/Fix/Scene4/*
!/Result_Archeive/Fix/Scene4/Depth=4
/Result_Archeive/Fix/Scene4/Depth=4/*
!/Result_Archeive/Fix/Scene4/Depth=4/Analyze.ipynb
