[submodule "RTLib/thirdparty/optix-toolkit"]
	path = RTLib/thirdparty/optix-toolkit
	url = https://github.com/NVIDIA/optix-toolkit.git
[submodule "Ext/optix-toolkit"]
	path = Ext/optix-toolkit
	url = https://github.com/NVIDIA/optix-toolkit.git
[submodule "Ext/json"]
	path = Ext/json
	url = https://github.com/nlohmann/json.git
[submodule "Ext/glfw"]
	path = Ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Ext/glad"]
	path = Ext/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "Ext/glm"]
	path = Ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "Ext/assimp"]
	path = Ext/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Ext/stduuid"]
	path = Ext/stduuid
	url = https://github.com/mariusbancila/stduuid
