/.vscode
/build
/Data
/Result/*
/Result_*/
!/Result/test.sh
!/Result/test2.sh
!/Result/test3.sh
!/Result/test4.sh
!/Result/Fix
/Result/Fix/*
!/Result/Fix/Scene1
/Result/Fix/Scene1/*
!/Result/Fix/Scene1/Depth=4
/Result/Fix/Scene1/Depth=4/*
!/Result/Fix/Scene1/Depth=4/Analyze.ipynb
!/Result/Fix/Scene4
/Result/Fix/Scene4/*
!/Result/Fix/Scene4/Depth=4
/Result/Fix/Scene4/Depth=4/*
!/Result/Fix/Scene4/Depth=4/Analyze.ipynb